@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 



html{
    
    color:#365583;
    color:#F9F9F9;
    color:#C3C3C3;
    color:#E4E4E4;
    color: #e0e0e0;
    color:#0D192B;
    color:#9c9c9c;
    color:#e2e2e2;
    color:#1C3C6D;
   

}  


html::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

/* Estilo para el thumb (la barra de scroll) */
html::-webkit-scrollbar-thumb {
  background-color: #C3C3C3; /* Color del thumb */
  border-radius: 5px; /* Borde del thumb */
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #1C3C6D; /* Color del thumb */
    border-radius: 12px; /* Borde del thumb */

  }
  

/* Estilo para el track (el área detrás del thumb) */
html::-webkit-scrollbar-track {
  background-color: #E4E4E4; /* Color del track */
}

/*-------------------ant capa -2------------------------------------------*/
.ant-spin-container{
  z-index: -2;
}

